

.container{
  background-color: transparent;
}
  
  .form-field {
    width: 400px;
    padding: 20px;
    margin-top: 59px;
    margin-bottom: 63px;
    border-radius: 10px;
    color: white;
  box-shadow: 0 5px 18px rgba(34, 34, 34, 0.5);
  }

  .form-field h2{
    margin-bottom: 32px;
  }

  .login-btn{
    margin-top: 5px;
  }
  
  .label {
    color: black;
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
  }
